<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="Bluemix, Watson, Cloud Foundry">
		<meta name="description" content="Bluemix Lab">
		
		<title>Generate Personality!</title>
		<link rel="stylesheet" href="stylesheets/style.css" />
	</head>

	<body>
		<div class='container'>
			<h2>Ask Watson to discover personality from text!</h2>
			<p>Please provide at least 100 words or prefill from the buttons below</p>
			<div>
				<button class="prefill btn" data-name="gandhi">Reflections- Gandhi</button>
				<button class="prefill btn" data-name="mlk">I Have a Dream- Martin Luther King Jr.</button>
			</div>
			<div id="wordCountContainer">word count: <span id="wordCount">0</span></div>
			<div>
				<textarea id="bio" placeholder="Write here!" rows="15" cols="100"></textarea>
			</div>
			<div>
				<button id="submitBio" class='btn'>Ask Watson</button>
			</div>
			<img id="loader" src="images/loader.gif"/>

			<div id="tableContainer"> </div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" 
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
				crossorigin="anonymous"></script>
		<script src="textExamples.js"></script>
		<script src="javascripts/client.js"></script>
	</body>
</html>